on: [push, pull_request]

name: Continuous integration

jobs:
  tier_1:
    name: Tier 1
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        toolchain:
          - 1.40.0  # MSRV
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Run build
        run: cargo build

  tier_2:
    name: Tier 2
    # Allowing to fail for a while, because building OpenSSL is a huge pain
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-freebsd
          - x86_64-unknown-netbsd
          # - x86_64-unknown-openbsd
          # - x86_64-unknown-dragonfly
        toolchain:
          - 1.40.0  # MSRV
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
          target: ${{ matrix.target }}
      - name: Run build
        uses: actions-rs/cargo@v1
        env:
          PKG_CONFIG_ALLOW_CROSS: 1
        with:
          command: check
          args: --target ${{ matrix.target }} --features vendored
          use-cross: true

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
